{% extends 'layout.html' %}
{% block content %}
<h2>질문하세요!!</h2>

<div class="dongtwit">

    <div>
        <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <textarea id="twit" name="content" maxlength="14"></textarea>
            </div>
            <div>
                <button id="twit-btn" type="submit" class="btn">입력</button>
            </div>

        </form>

    </div>
    {% for twit in twits %}
    <div class="twit">
        <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">

        <div class="twit-author">유저닉네임:{{twit.User.nick}}</div>

        <div class="twit-content" id="twit">내용:{{twit.content}}</div>

        <form action="/post/update?id={{twit.id}}&user={{twit.UserId}}" method="POST">
            <button id="update-btn" type="submit" class="btndel">수정하기</button>
        </form>

        <form action="/post/del?id={{twit.id}}" method="post">
            <button id="del-btn" type="submit" class="btndel">삭제</button>
        </form>
        {% if pageuser %}
        <form action="/post/qna?id={{twit.id}}&user={{twit.UserId}}" method="POST">
            <button id="qna-btn" type="submit">답글달기</button>
        </form>
        {% else %}
        <form action="/post/qna?id={{twit.id}}&user={{twit.UserId}}" method="POST">
            <button id="qna-btn" type="submit">답글확인</button>
        </form>
        {% endif %}
    </div>

    {% endfor %}

    {% for count in counts %}
    <div class="dongnum">
        <a href="/qa?page={{count}}">{{count}}</a>
    </div>
    {% endfor %}
</div>



<script>
    window.onload = function () {
        const btn = document.querySelectorAll('#del-btn').forEach(function (userItem) {
            userItem.onclick = () => {
                return confirm('삭제하시겠습니까?');
            }
        });
    }
</script>
{% endblock %}