* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    overflow: hidden;
}


.ds {
    max-width: 1000px;
    max-height: 800px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    text-align: center;
    width: 50%;
    height: 500px;
    background: green;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.ds.title {
    height: 90px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;


    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .input-group {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}